<%- include('../partials/head', {title:"Order Meal | Indrajay Enterprises"}); %> <%- include('../partials/navbar'); %>

<div class="breadcrumb bg-grey text-center py-3 mb-0">
  <div class="container">
    <h2 class="mb-0">Order Meal</h2>
  </div>
</div>
<!--  -->
<section class="home_products type2 text-center py-5">
  <div class="container">
    <div class="row g-3">
      <div class="col-md-3 col-6">
        <a
          class="item"
          href="enquirynow.html"
          data-aos="fade-up"
          data-aos-duration="700"
        >
          <div class="img">
            <img class="w-100" src="upload/img7.jpg" loading="lazy" />
            <span class="btn"><i class="fas fa-link"></i></span>
          </div>
          <h4>Burger</h4>
          <span class="btn1">Order Now</span>
        </a>
      </div>

      <div class="col-md-3 col-6">
        <a
          class="item"
          href="enquirynow.html"
          data-aos="fade-up"
          data-aos-duration="700"
        >
          <div class="img">
            <img class="w-100" src="upload/pizza.webp" loading="lazy" />
            <span class="btn"><i class="fas fa-link"></i></span>
          </div>
          <h4>Pizza</h4>
          <span class="btn1">Order Now</span>
        </a>
      </div>

      <div class="col-md-3 col-6">
        <a
          class="item"
          href="enquirynow.html"
          data-aos="fade-up"
          data-aos-duration="700"
        >
          <div class="img">
            <img class="w-100" src="upload/momo.jpg" loading="lazy" />
            <span class="btn"><i class="fas fa-link"></i></span>
          </div>
          <h4>Momos</h4>
          <span class="btn1">Order Now</span>
        </a>
      </div>

      <div class="col-md-3 col-6">
        <a
          class="item"
          href="enquirynow.html"
          data-aos="fade-up"
          data-aos-duration="700"
        >
          <div class="img">
            <img class="w-100" src="upload/fries.jpg" loading="lazy" />
            <span class="btn"><i class="fas fa-link"></i></span>
          </div>
          <h4>French Fries</h4>
          <span class="btn1">Order Now</span>
        </a>
      </div>

      <div class="col-md-3 col-6">
        <a
          class="item"
          href="enquirynow.html"
          data-aos="fade-up"
          data-aos-duration="700"
        >
          <div class="img">
            <img class="w-100" src="upload/biryani.jpg" loading="lazy" />
            <span class="btn"><i class="fas fa-link"></i></span>
          </div>
          <h4>Biryani</h4>
          <span class="btn1">Order Now</span>
        </a>
      </div>
    </div>
  </div>
</section>
<!--  -->

<%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
