<%- include('../partials/head'); %> <%- include('../partials/navbar'); %>

<!--Fruit details  -->
<div class="breadcrumb bg-grey text-center py-3 mb-0">
  <div class="container">
    <h2 class="mb-0">Fruits</h2>
  </div>
</div>
<!-- details section starts -->
<section class="innerpage product_desc py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img src="upload/5531033-banana.jpg" style="width: 100%" />
      </div>
      <div class="col-lg-8">
        <h3>Banana</h3>
        <div class="d-flex gap-2 align-items-center">
          Available for:
          <span class="btn bg-1"><img src="upload/india.png" />Domestic</span>
          <span class="btn bg-2"
            ><img src="upload/worldwide.png" />International</span
          >
        </div>
        <div style="text-align: justify">
          <span style="text-align: left"
            >Banana, fruit of the genus Musa, of the family Musaceae, one of the
            most important fruit crops of the world. The banana is grown in the
            tropics, and, though it is most widely consumed in those regions, it
            is valued worldwide for its flavour, nutritional value, and
            availability throughout the year. It contains as much as 22 percent
            of carbohydrate and is high in dietary fibre, potassium, manganese,
            and vitamins B6 and C.</span
          >
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
