<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <main class="main-container">
      <!--slider section starts here  -->
      <div class="owl-slide owl-carousel">
        <div class="item">
          <img src="upload/s1.jpg" loading="lazy" />
          <div class="desc">
            <h1>Great opportunity for adventure & travels</h1>
            
            <a class="btn1" href="contact-us.html">Contact Now</a>
          </div>
        </div>
        <div class="item">
          <img src="upload/s2.jpg" loading="lazy" />
          <div class="desc">
            <h1>Great opportunity for adventure & travels</h1>
            <a class="btn1" href="contact-us.html">Contact Now</a>
          </div>
        </div>
        <div class="item">
          <img src="upload/s3.jpg" loading="lazy" />
          <div class="desc">
            <h1>Great opportunity for adventure & travels</h1>
            <a class="btn1" href="contact-us.html">Contact Now</a>
          </div>
        </div>
        <div class="item">
          <img src="upload/s4.jpg" loading="lazy" />
          <div class="desc">
            <h1>Great opportunity for adventure & travels</h1>
            <a class="btn1" href="contact-us.html">Contact Now</a>
          </div>
        </div>
        <div class="item">
          <img src="upload/s5.jpg" loading="lazy" />
          <div class="desc">
            <h1>Great opportunity for adventure & travels</h1>
            <a class="btn1" href="contact-us.html">Contact Now</a>
          </div>
        </div>
      </div>
      <!-- slider section ends here -->

      <!-- booking form section starts here -->
      <div class="custom1">
        <div class="container">
          <!-- Nav pills -->
          <ul class="nav nav-pills justify-content-center" role="tablist">
            <li>
              <a class="btn active" data-bs-toggle="pill" href="#tab1"
                ><img src="upload/taxi.png" /> <span>Taxi Booking</span></a
              >
            </li>
            <li>
              <a class="btn" data-bs-toggle="pill" href="#tab2"
                ><img src="upload/bus.png" /> <span>Bus Booking</span></a
              >
            </li>
            <li>
              <a class="btn" data-bs-toggle="pill" href="#tab3"
                ><img src="upload/train.png" /> <span>Train Booking</span></a
              >
            </li>
            <li>
              <a class="btn" data-bs-toggle="pill" href="#tab4"
                ><img src="upload/airplane.png" />
                <span>Flight Booking</span></a
              >
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content pt-4 pb-2">
            <div id="tab1" class="container tab-pane active">
              <div class="form1">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Source"
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Destination"
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                    />
                  </div>
                  <div class="col-md-2 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No. of Passenger"
                    />
                  </div>
                  <div class="col-md-1 mb-3">
                    <input type="text" class="form-control" placeholder="Age" />
                  </div>
                  <div class="col-md-3 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Contact No."
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Address"
                    />
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn1">Submit</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab2" class="container tab-pane fade">
              <div class="form1">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Source"
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Destination"
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                    />
                  </div>
                  <div class="col-md-2 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No. of Passenger"
                    />
                  </div>
                  <div class="col-md-1 mb-3">
                    <input type="text" class="form-control" placeholder="Age" />
                  </div>
                  <div class="col-md-3 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Contact No."
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Address"
                    />
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn1">Submit</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab3" class="container tab-pane fade">
              <div class="form1">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Source"
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Destination"
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                    />
                  </div>
                  <div class="col-md-2 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No. of Passenger"
                    />
                  </div>
                  <div class="col-md-1 mb-3">
                    <input type="text" class="form-control" placeholder="Age" />
                  </div>
                  <div class="col-md-3 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Contact No."
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Address"
                    />
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn1">Submit</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab4" class="container tab-pane fade">
              <div class="form1">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Source"
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Destination"
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                    />
                  </div>
                  <div class="col-md-2 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="No. of Passenger"
                    />
                  </div>
                  <div class="col-md-1 mb-3">
                    <input type="text" class="form-control" placeholder="Age" />
                  </div>
                  <div class="col-md-3 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Contact No."
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Address"
                    />
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn1">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- booking form section ends here -->

      <!--what we offer our premium products  -->
      <div class="home_products py-5 bg-grey">
        <div class="container-fluid">
          <div
            class="heading text-center mb-4"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <span>What We Offer</span>
            <h2>Our Premium Products</h2>
          </div>
          <div class="grid_view">
            <a
              class="item"
              href="products681a.html?id=1"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/fruits.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Fruits <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="products0b30.html?id=2"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/vegetables.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Vegetables <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="productsd708.html?id=3"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/walnut.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Nuts <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="productsc3c9.html?id=8"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/wheat.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Grains <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="products5255.html?id=9"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/spice.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Spices <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="productsf41b.html?id=10"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/pulses.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Pulses <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="products0055.html?id=11"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/pulses.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Coconuts <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="products4ef9.html?id=12"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img
                  class="w-100"
                  src="upload/bananapowder.jpg"
                  loading="lazy"
                />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Dehydrated Powder <i class="fa fa-arrow-right"></i></h4>
            </a>
          </div>
        </div>
      </div>
      <!--what we offer our premium products  -->

      <!-- our meal section starts -->
      <div class="home_products bg-3 py-5 text-center">
        <div class="container-fluid">
          <div
            class="heading text-center mb-4"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <span>Food Order</span>
            <h2 class="text-white">Order Meal</h2>
          </div>
          <div
            class="owl-5 owl-carousel"
            data-aos="fade-right"
            data-aos-duration="700"
          >
            <a
              class="item"
              href="enquirynow.html"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/img7.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Burger <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="enquirynow.html"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/pizza.webp" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Pizza <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="enquirynow.html"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/momo.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Momos <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="enquirynow.html"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/fries.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>French Fries <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="enquirynow.html"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/biryani.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Biryani <i class="fa fa-arrow-right"></i></h4>
            </a>
          </div>
        </div>
      </div>
      <!-- our meal section ends -->

      <!-- Facility Management section starts here -->
      <div class="service2 py-5">
        <div class="container-fluid">
          <div
            class="heading text-center mb-4"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <span>Services</span>
            <h2>Facility Management</h2>
          </div>
          <div class="owl-5 owl-carousel">
            <a class="item" href="facility6e03.html?id=13">
              <figure><img src="upload/img1.jpg" /></figure>
              <div class="desc">House Keeping</div>
            </a>

            <a class="item" href="facility87f1.html?id=14">
              <figure><img src="upload/img2.jpg" /></figure>
              <div class="desc">Guest House</div>
            </a>

            <a class="item" href="facility7429.html?id=15">
              <figure><img src="upload/img3.jpg" /></figure>
              <div class="desc">
                Equipment/Machine installation and erection
              </div>
            </a>

            <a class="item" href="facility2728.html?id=16">
              <figure><img src="upload/img4.jpg" /></figure>
              <div class="desc">Fabrication</div>
            </a>

            <a class="item" href="facility190a.html?id=17">
              <figure><img src="upload/img5.jpg" /></figure>
              <div class="desc">Maintenance of machine / equipment</div>
            </a>

            <a class="item" href="facilitye371.html?id=18">
              <figure><img src="upload/img6.jpg" /></figure>
              <div class="desc">Stationary Supply</div>
            </a>
          </div>
        </div>
      </div>
      <!-- Facility management section ends here -->

      <!-- Taxi Service Section starts here -->
      <div class="services py-5 bg-grey">
        <div class="container">
          <div
            class="heading text-center mb-4"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <span>Taxi Services</span>
            <h2>We provide top taxi services</h2>
          </div>
          <div class="row">
            <div class="col-md-4" data-aos="fade-right" data-aos-duration="700">
              <a class="item" href="servicesa9bc.html?id=19">
                <div class="icon"><img src="upload/swift.jpg" /></div>
                <div class="d-flex justify-content-between gap-3 bg-1">
                  <h4>Swift Dzire</h4>
                  <span><i class="fas fa-arrow-right"></i></span>
                </div>
              </a>
            </div>

            <div class="col-md-4" data-aos="fade-right" data-aos-duration="700">
              <a class="item" href="servicese5cc.html?id=20">
                <div class="icon"><img src="upload/innova.jpg" /></div>
                <div class="d-flex justify-content-between gap-3 bg-1">
                  <h4>Tata Innova</h4>
                  <span><i class="fas fa-arrow-right"></i></span>
                </div>
              </a>
            </div>

            <div class="col-md-4" data-aos="fade-right" data-aos-duration="700">
              <a class="item" href="services6258.html?id=21">
                <div class="icon"><img src="upload/hyundai.jpg" /></div>
                <div class="d-flex justify-content-between gap-3 bg-1">
                  <h4>Hyundai</h4>
                  <span><i class="fas fa-arrow-right"></i></span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Taxi Service Section ends here -->

      <!-- Join as a vender form starts here -->
      <div id="vendor" class="enquiry_wrap bg-3">
        <div
          class="bg-img d-none d-sm-block"
          style="background-image: url('upload/bg2.jpg')"
          data-aos="fade-right"
          data-aos-duration="700"
        ></div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-sm-0">
              <div
                class="form2 py-5 px-5 bg-2"
                data-aos="fade-left"
                data-aos-duration="700"
              >
                <div
                  class="heading mb-4"
                  data-aos="fade-up"
                  data-aos-duration="700"
                >
                  <span>Supplier</span>
                  <h2 class="text-white">Join as vendor</h2>
                </div>
                <div class="">
                  <div class="grid2">
                    <select class="form-control">
                      <option>Select category of supply</option>
                    </select>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Your Name"
                    />
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Firm Name"
                    />
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Contact Number"
                    />
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Email"
                    />
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Website"
                    />
                  </div>
                  <textarea
                    class="form-control"
                    rows="4"
                    placeholder="Address"
                  ></textarea>
                  <button type="submit" class="btn1">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Join as a vender form ends here -->

      <!-- Testimonial section section start here -->
      <div class="testimonials py-5 bg-grey">
        <div class="container">
          <div
            class="heading text-center mb-4"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <span>Testimonials</span>
            <h2>What Our Client Says</h2>
          </div>
          <div class="owl-2 owl-carousel">
            <div class="item">
              <div class="testimonial-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="testimonial-quote">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris ut mauris justo. Aenean in faucibus velit, ac
                  consectetur elit. Quisque euismod nulla vitae turpis
                  efficitur, vitae lobortis ipsum auctor. Vestibulum vitae nibh
                  dui. Nunc et erat quam. Nam nec neque mattis, dictum arcu ac,
                  condimentum quam.
                </p>
              </div>
              <div class="testimonial-content">
                <div class="img">
                  <img src="upload/face.jpg" alt="" />
                </div>
                <div class="info">
                  <h4>Name</h4>
                  <p>City</p>
                </div>
              </div>
              <span class="testimonial-quote-icon"
                ><i class="fas fa-quote-right"></i
              ></span>
            </div>

            <div class="item">
              <div class="testimonial-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="testimonial-quote">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris ut mauris justo. Aenean in faucibus velit, ac
                  consectetur elit. Quisque euismod nulla vitae turpis
                  efficitur, vitae lobortis ipsum auctor. Vestibulum vitae nibh
                  dui. Nunc et erat quam. Nam nec neque mattis, dictum arcu ac,
                  condimentum quam.
                </p>
              </div>
              <div class="testimonial-content">
                <div class="img">
                  <img src="upload/face.jpg" alt="" />
                </div>
                <div class="info">
                  <h4>Name</h4>
                  <p>City</p>
                </div>
              </div>
              <span class="testimonial-quote-icon"
                ><i class="fas fa-quote-right"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial section ends here -->
    </main>

    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
</html>
