<div class="container">
  <h1>Products ejs</h1>
  <div class="product-grid">
    <% products.forEach(product => { %>
    <div class="product-card">
      <img src="<%= product.imageUrl %>" alt="<%= product.name %>" />
      <h3>product name : <%= product.name %></h3>
      <h3>final Price : <%= product.finalPrice %></h3>
    </div>
    <% }) %>
  </div>
</div>
