<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <button class="btn btn-primary btn-sm" id="sidebarToggle" aria-label="Toggle sidebar">
            <i class="fas fa-bars"></i> <!-- Initial icon, JS will change it -->
        </button>

        <h5 class="ms-3 my-0"><%= typeof title !== 'undefined' ? title : 'Page Title' %></h5>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user me-1"></i>Admin
                        <!-- You can make this dynamic e.g., req.user.name -->
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!">Profile</a> <!-- Link to admin profile page -->
                        <a class="dropdown-item" href="#!">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/auth/logout">Logout</a> <!-- Update with your logout route -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>