<footer class="bg-3 text-white">
  <div class="footer-top py-5" style="background-image: url('upload/map.png')">
    <div class="container">
      <div class="row">
        <div
          class="col-md-3 mb-3"
          data-aos="fade-right"
          data-aos-duration="700"
        >
          <h4>About Us</h4>

          <p>
            We are a leading company with strong presence in both domestic and
            international markets in the field of agro commodities, export
            consultancy, transport and logistics...
          </p>

          <a class="text-white" href="/about"><u>Read More</u></a>
        </div>
        <div class="col-md-5 mb-3" data-aos="fade-up" data-aos-duration="700">
          <h4>Quick Links</h4>
          <ul class="links">
            <li>
              <a href="/is"
                ><i class="fa fa-angle-double-right"></i> Industrial Services</a
              >
            </li>
            <li>
              <a href="/logistic"
                ><i class="fa fa-angle-double-right"></i> logistics</a
              >
            </li>
            <!-- <li>
              <a href="#"
                ><i class="fa fa-angle-double-right"></i> Cab and Travel</a
              >
            </li> -->
            <li>
              <a href="/consultation"
                ><i class="fa fa-angle-double-right"></i> Consultation
                services</a
              >
            </li>
            <li>
              <a href="/events"
                ><i class="fa fa-angle-double-right"></i> Events</a
              >
            </li>
            <li>
              <a href="/canteen"
                ><i class="fa fa-angle-double-right"></i> Canteen Services</a
              >
            </li>
            <li>
              <a href="/careManagement"
                ><i class="fa fa-angle-double-right"></i> Care Management</a
              >
            </li>
            <li>
              <a href="/career"
                ><i class="fa fa-angle-double-right"></i> Career</a
              >
            </li>
            <li>
              <a href="/contact"
                ><i class="fa fa-angle-double-right"></i> Contact Us</a
              >
            </li>
            <li>
              <a href="#"><i class="fa fa-angle-double-right"></i> Brochure</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4" data-aos="fade-left" data-aos-duration="700">
          <h4>Connect With Us</h4>
          <ul class="footer-contact p-0 m-0">
            <li>
              <a href="tel:+919314314300"
                ><i class="bi bi-telephone-fill px-2 py-2"></i>+91 9314314300</a
              >
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i> Indrajay Enterprises <br />
              Plot No. B-25, At-Firangai Nagar,<br />
              Kurkumbh, Dist-Pune 413802,<br />
              Maharashtra, India.
            </li>

            <li>
              <a href="mailto:customercare@connectije.com"
                ><i class="far fa-envelope"></i>customercare@connectije.com</a
              >
            </li>
          </ul>
          <ul class="footer-social p-0 mt-3">
            <li>
              <a href="https://www.facebook.com/connectije"
                ><img src="/upload/facebook.png"
              /></a>
            </li>
            <li>
              <a href="https://x.com/connectije"
                ><img src="/upload/twitter.png"
              /></a>
            </li>
            <!-- <li>
              <a href="https://whatsapp.com/channel/0029VbAFloL1Hspq3mU1OV3V"><img  src="/upload/wp.jpeg" /></a>
            </li> -->
            <li>
              <a href="http://www.youtube.com/@connectije"
                ><img src="/upload/youtube.png"
              /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/connectije"
                ><img src="/upload/instagram.png"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom text-center py-3">
    <div class="container">
      <div class="d-flex justify-content-center">
        <p class="mb-0">&copy; Indrajay Enterprises</p>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll To Top -->
<a href="#" class="scrollToTop scroll-btn"><i class="fa fa-arrow-up"></i></a>

<div class="btn-fix">
  <a href="/register-vendor"
    ><i class="fa fa-handshake-simple"></i> Join as vendor</a
  >
</div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
/>
