<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<link rel="icon" type="image/png" href="upload/favicon.png" />
<title><%= title %></title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/owl.carousel.css" rel="stylesheet" />
<link href="css/magnific-popup.css" rel="stylesheet" />
<link href="css/animate.css" rel="stylesheet" />
<link href="css/aos.css" rel="stylesheet" />
<link href="css/main.css" rel="stylesheet" />
<link href="css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/custom.css" />
