<header>
  <div class="topbar py-2 d-none d-sm-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <a class="logo" href="/"
            ><img src="upload/logo.jpg" loading="lazy"
          /></a>
        </div>

        <div class="col-md-7">
          <div class="d-flex gap-3 justify-content-end">
            <div class="item">
              <span><img src="upload/phone.png" /></span>
              <div>
                <b>Call Us:</b>
                <a href="tel:+91 9033168087">+91 9033168087</a>
              </div>
            </div>
            <div class="item">
              <span><img src="upload/email.png" /></span>
              <div>
                <b>Email Us:</b>
                <a href="mailto:info@yourdomain.com">info@yourdomain.com</a>
              </div>
            </div>
            <ul class="social p-0 m-0">
              <li>
                <a href="#"><img src="upload/facebook.png" /></a>
              </li>
              <li>
                <a href="#"><img src="upload/instagram.png" /></a>
              </li>
              <li>
                <a href="#"><img src="upload/linkedin.png" /></a>
              </li>
              <li>
                <a href="#"><img src="upload/twitter.png" /></a>
              </li>
              <li>
                <a href="#"><img src="upload/youtube.png" /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-sm navbar-light py-0">
    <div class="container-fluid justify-content-sm-center">
      <a class="navbar-brand d-sm-none" href="/"
        ><img src="upload/logo.png" loading="lazy"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExample03"
        aria-controls="navbarsExample03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse flex-sm-grow-0"
        id="navbarsExample03"
      >
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Export</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="products681a.html?id=1"
                  >Fruits</a
                >
              </li>

              <li>
                <a class="dropdown-item" href="products0b30.html?id=2"
                  >Vegetables</a
                >
              </li>

              <li>
                <a class="dropdown-item" href="productsd708.html?id=3">Nuts</a>
              </li>

              <li>
                <a class="dropdown-item" href="productsc3c9.html?id=8"
                  >Grains</a
                >
              </li>

              <!-- <li><a class="dropdown-item" href="products5255.html?id=9">Spices</a></li> -->

              <li>
                <a class="dropdown-item" href="productsf41b.html?id=10"
                  >Pulses</a
                >
              </li>

              <li>
                <a class="dropdown-item" href="products0055.html?id=11"
                  >Coconuts</a
                >
              </li>

              <li>
                <a class="dropdown-item" href="products4ef9.html?id=12"
                  >Dehydrated Powder</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Transport & Logistics
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="products681a.html?id=1"
                  >Quick Load Booking</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Tours & Travels
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="products681a.html?id=1"
                  >Quick Taxy Booking
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="products681a.html?id=1"
                  >Travel Packages
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="products681a.html?id=1"
                  >Train, Bus & Flight Booking
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Facility Management
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="products681a.html?id=1"
                  >House Keeping
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="products681a.html?id=1"
                  >Guest House
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="products681a.html?id=1"
                  >Equipment/Machine installation and erection
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="products681a.html?id=1"
                  >Fabrication
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="products681a.html?id=1"
                  >Maintenance of machine / equipment
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="products681a.html?id=1"
                  >Stationary Supply
                </a>
              </li>
            </ul>
          </li>

          <!-- <li class="nav-item"><a class="nav-link" href="facilities.html">Facility Management</a></li> -->
          <!-- <li class="nav-item"><a class="nav-link" href="ordermeal.html">Order Meal</a></li> -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Order Meal
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/completeMeal"
                  >Order Quick complete meal</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Join Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>  
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
