<nav>
  <div class="top-row">
    <div class="logo">
      <a href="/"><img src="upload/logo.jpg" alt="" /></a>
    </div>

    <div class="top-contact">
      <div class="contact-info">
        <div class="top-phone">
          <span><img src="upload/phone.png" class="phone" /> </span>
          <div class="contact-text">
            <strong>Call Us :</strong> +91 9033168087
          </div>
        </div>

        <div class="top-phone">
          <span><img src="upload/phone.png" class="phone" /></span>
          <div class="contact-text">
            <strong>Email Us : </strong> info@yourdomain.com
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar">
    <div class="logo-mobile">
      <a href="/"><img src="upload/logo.png" alt="" /></a>
    </div>

    <ul class="nav-links">
      <li><a href="/">Home</a></li>

      <li class="dropdown">
        <a href="#">Export ▼</a>
        <ul class="dropdown-menu">
          <li><a href="#">Fruits</a></li>
          <hr />
          <li><a href="#">Vegetables</a></li>
          <hr />
          <li><a href="#">Nuts</a></li>
          <hr />
          <li><a href="#">Grains</a></li>
          <hr />
          <li><a href="#">Pulses</a></li>
          <hr />
          <li><a href="#">Coconut</a></li>
          <hr />
          <li><a href="#">Dehydrated Powder</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Transport and Logistics ▼</a>
        <ul class="dropdown-menu">
          <li><a href="#">Quick Load Booking</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#">Tours & Travels</a>
        <ul class="dropdown-menu">
          <li><a href="#">Quick Taxi Booking </a></li>
          <hr />
          <li><a href="#">Travel Packages</a></li>
          <hr />
          <li><a href="#">Train, Bus & Flight Booking</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Facility Management</a>
        <ul class="dropdown-menu">
          <li><a href="#">House Keeping </a></li>
          <hr />
          <li><a href="#">Guest House</a></li>
          <hr />
          <li><a href="#">Equipment & machine installation</a></li>
          <hr />
          <li><a href="#">Fabrication</a></li>
          <hr />
          <li><a href="#">Maintaince of Machine</a></li>
          <hr />
          <li><a href="#">Stationary supply</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#">Quick Meal ▼</a>
        <ul class="dropdown-menu">
          <li><a href="#">Order Quick Complete Meal </a></li>
        </ul>
      </li>

      <li><a href="#">Join Events</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact </a></li>
    </ul>

    <div class="responsive">
      <div class="hamburger" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>

      <div class="user-menu">
        <button class="user-icon">👤</button>
        <div class="user-dropdown">
          <a href="/register-user">Sign Up</a>
          <a href="/login-user">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  function toggleMenu() {
    const navLinks = document.querySelector(".nav-links");
    navLinks.classList.toggle("active");
  }
</script>
